a {
  color: #7CB342;
}

body {
  font-family: 'nimbus-sans', sans-serif;
  background-color: #FFFFFF;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
/*  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
*/ }

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.panel {
  padding: 20px;
}

p {
  font-size: 20px;
  line-height: 180%;
  color: #757575;
}

.subheader {
  color: #676767;
  margin-bottom: 3px;
  letter-spacing: 2px;
}

.social-media {
 text-transform: uppercase;
 font-size: 13px;
}

.social-media ul {
  list-style-type: none;
  padding: 0px;
}

.social-media ul li {
  display: inline;
  margin-right: 15px;
  letter-spacing: 2px;
}

.profile-pic {
  max-width: 225px;
}

.button-thin {
  background-color: transparent;
  border: 2px solid black;
  padding: 5px 15px 5px 15px;
}

.button-thin:hover {
  background-color: black;
  color: white;
}

.proj {
  height: 300px;
}

.col-md-6 {
  transition: width 0.8s;
  transition: padding 0.5s;
}